// Card

.card {
    border: 2px solid;
    border-radius: 0.5rem;
    margin: 0.5rem;
    //width: 30%;

    &__header {
        padding: 0.5rem;
        color: black;
        background-color: rgb(199, 199,199);
        line-height: 24px;
    }

    &__body {
        padding: 0.5rem;
    }

    &__footer {
        padding: 0.5rem;
        color: black;
        background-color: rgb(199, 199,199);
        line-height: 24px;

        span {
            margin: 0 1rem;
        }
    }
}

// для расположения в ряд 3 штук
.width30 {
    width: 30%;
}