$input_height: 2rem;

label {
    margin: 0 0.5rem;
}

.input-text {
    width: 15em;
    height: $input_height;
    border-radius: 0.5rem;
}

.input-select {
    width: auto;
    height: $input_height;
    border-radius: 0.5rem;
}